<div class="g1">
  <div class="g2">
    <h1>Grupo N° 7</h1>
    <h2>Integrantes :</h2>
    <h2 class="int">» Gonzalo Gimenez</h2>
    <h2 class="int">» Jhon Escalante</h2>
    <h5 class="descripcion">
      AutoStock es una plataforma web diseñada para optimizar la gestión de
      inventario de flota de vehículos distribuidos en múltiples concesionarias
      de la misma firma. Este programa permite a los usuarios realizar un
      seguimiento preciso de cada vehículo, desde su ingreso al concesionario
      hasta su venta o traslado. A través de una interfaz intuitiva, AutoStock
      facilita la administración de datos como el modelo, año, kilometraje,
      historial de mantenimiento y ubicación de cada unidad. Además, ofrece
      herramientas de análisis avanzadas que permiten identificar tendencias en
      el inventario, optimizar los procesos de venta y mejorar la toma de
      decisiones estratégicas en la gestión de flotas vehiculares.
    </h5>
    <button class="btn btn-primary volver" routerLink="">
      Volver al Inicio
    </button>
  </div>
</div>
