.home{
  margin: 0;
  padding: 0;
  width: 100%;
}


.home{ 
  background-image: url(../../../../public/assets/adham-eid-lightmix4.gif);
  height: 51.3rem;
  width: 120rem;
  background-repeat: no-repeat;
}

h1 , p{
  color: white;
}



