.home {
  margin: 0;
  padding: 0;
  width: 100%;
}

.home {
  background-image: url(../../../../public/assets/adham-eid-lightmix4.gif);
  height: 650px;
  width: 1263px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: center;
}

h1,
h5 {
  padding: 1rem;
  color: white;
}
