.img {
  background-image: url(../../../../public/assets/free-photo-of-racing-audi-car-on-nurburgring.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.table {
  color: white;
}

.volver {
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: 35rem;
}
