@if(cargando){
<h5><i>Cargando...</i></h5>
}@else{
<h1>Marca: {{ auto?.marca }}</h1>
<h1>Modelo: {{ auto?.modelo }}</h1>
<h3>Condicion: {{ auto?.condicion }}</h3>
<h3>Año: {{ auto?.anio }}</h3>
<h3>Kilometros: {{ auto?.km }}</h3>
<h3>Tipo de vehiculo: {{ auto?.tipo }}</h3>
<h3>Estado del vehiculo: {{ auto?.estado }}</h3>
<h3>Tipo de motor: {{ auto?.tipomotor }}</h3>
<h3>Motor (cc): {{ auto?.motor }}</h3>
<img src="{{ auto?.imagen1 }}" alt="Imagén del vehiculo nº 1" />
<img src="{{ auto?.imagen2 }}" alt="Imagén del vehiculo nº 2" />
<img src="{{ auto?.imagen3 }}" alt="Imagén del vehiculo nº 3" />
<img src="{{ auto?.imagen4 }}" alt="Imagén del vehiculo nº 4" />
<img src="{{ auto?.imagen5 }}" alt="Imagén del vehiculo nº 5" />
<h3>Precio: ${{ auto?.precio }}</h3>
}
